@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'NerisSemiBold';
    src: url('font/PermianSlabSerifTypeface.otf'),
		 url('font/PermianSlabSerifTypeface.eot');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'NerisSemiBold';
	width:100%;
	height:100%;
	color: #909090;
}

body {
	margin: 0;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s linear-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
.envatologo{
position:fixed;
top:50%;
left:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	font-size:90px;
	font-weight:bold;
	color:#4b4b4b;
	display: block;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right: 0;
	background-color:#333333;
}

.buttonEnd {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right: 0;
	background-color:#333333;
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.slide a.button  {
	display: none;
}

.rightImg img {
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

#fixedButton {
	position: fixed; 
	bottom: 0; 
	right: 0; 
	z-index:100;
}

#ejbLogo {
	vertical-align:text-top;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#FFFFFF;
	font-size: 28px;
}
#slide1 .slideno {
	font-size: 82px;
}
.slide table {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#slide1 .content {
	margin-top: 40px;
}

#slide1 .leftContent {
	width: 475px;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-top: 0;
}

#slide1 .rightImg {
	width: 261px;
	display: inline-block;
	position: absolute;
	margin-left: 530px;
}

#slide1 #code {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: green;
	display: inline-block;
	width: 250px;
	height: 500px;
	border: 0px solid black;
	overflow: hidden;
	float: left;
	margin-left: 20px;
}

#slide1 #coffee {
	float: left;
	margin-left: 110px;
}

#coffeeContent {
	position: absolute; 
	top: 500px; 
	display: inline-block; 
	width: 800px;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#FFFFFF;	
}
#slide2 .slideno {
}

#slide2 .content {
	margin-top: 40px;
}

#slide2 img:first-child{
	position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:300px;
	left:100px;
}
#slide2 img:nth-child(3){
	position:absolute;
	top:600px;
	left:300px;
}
#slide2 img:nth-child(4){
	position:absolute;
	top:400px;
	left:300px;
}
#slide2 img:nth-child(5){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(6){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(7){
	position:absolute;
	top:400px;
	right:100px;
}
#slide2 img:nth-child(8){
	position:absolute;
	top:100px;
	right:300px;
}
#slide2 ul { 
	width: 800px; 
	list-style: none; 
	line-height: normal; 
	margin-top: 15px; 
}
#slide2 li a, #slide2 li {
	width: 160px; 
	height: 35px;
	margin: 8px;
	float: left;
	text-decoration: none;
	display: inline-block;
	color: #909090;
	-webkit-transition:color 500ms linear;  
	-moz-transition:color 500ms linear;  
	-o-transition:color 500ms linear;  
	transition:color 500ms linear; 
	-webkit-transition:background-color 200ms linear;  
	-moz-transition:background-color 200ms linear;  
	-o-transition:background-color 200ms linear;  
	transition:background-color 200ms linear; 
	
	-webkit-transition:opacity 200ms linear;  
	-moz-transition:opacity 200ms linear;  
	-o-transition:opacity 200ms linear;  
	transition:opacity 200ms linear; 
	
	/*
	-webkit-transition:width 500ms linear;  
	-moz-transition:width 500ms linear;  
	-o-transition:width 500ms linear;  
	transition:width 500ms linear; 
	*/
	position: relative;
	z-index: 1;
}
#slide2 li span {
	display: inline-block;
	position: absolute;
	border: 1px #909090 solid;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #FFF;
	z-index: 2;
	/*
	-webkit-transition:width 500ms linear;  
	-moz-transition:width 500ms linear;  
	-o-transition:width 500ms linear;  
	transition:width 500ms linear;
	*/
}
#slidee2 li a:hover, #slide2 li a.resize, #slidee2 li.hover span {
	color: #FFFFFF;
	background-color: #909090;
}

#slide2 li span.resize {
	width: 700px;
	z-index: 3;
}

#slide2 li.resize {
	z-index: 3;
}

#slide2 #skills li a span {
	display: none;
	color: #FFFFFF;
}

#slide2 #skills li a span.showDetails {
	display: inline;
}

#slide2 #skillRange {
	margin-left: auto; 
	margin-right: auto;
	width: 165px; 
	margin-bottom: 10px;
	height: 35px; 
	margin-top: 0;
}

#skillRange li a, #skillRange li {
	width: 16px;
	margin: 0;
}

#skillRange li, #skillRange li a, #skillRange li span {
	padding: 0;
}

#skillRange li:hover {
	width: 20px;
	z-index: 3;
}

#skillRange li:hover span{
	border-color: #000;
	z-index: 3;
}

#skillRangeContainer {
	clear: both; 
	width: 200px; 
	float: right;
}

#skillRangeTable {
	width: 200px;
}

#rateDescriptionCell {
	text-align:center;
}

.thirdOpacity {
	opacity: 0.3;
}

.blackBorder {
	border-color: #000000;
}

#slide2 li.rateTen span {
	background-color : #4b4b4b;
	color: #FFFFFF;
}
#slide2 li.rateNine span {
	background-color : #5d5d5d;
	color: #FFFFFF;
}
#slide2 li.rateEight span {
	background-color : #6e6e6e;
	color: #FFFFFF;
}
#slide2 li.rateSeven span {
	background-color : #818181;
	color: #FFFFFF;
}
#slide2 li.rateSix span {
	background-color : #939393;
	color: #FFFFFF;
}
#slide2 li.rateFive span {
	background-color : #a5a5a5;
	color: #FFFFFF;
}
#slide2 li.rateFour span {
	background-color : #b7b7b7;
	color: #FFFFFF;
}
#slide2 li.rateThree span {
	background-color : #c9c9c9;
	color: #FFFFFF;
}
#slide2 li.rateTwo span {
	background-color : #dbdbdb;
}
#slide2 li.rateOne span {
	background-color : #ededed ;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#FFFFFF;
}
#slide3 .slideno {
	font-size: 55px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
#slide3 .content {
	margin-top: 40px;
}

#slide3 .leftContent {
	width: 375px;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-top: 0;
}

#slide3 .rightImg {
	width: 261px;
	display: inline-block;
	position: absolute;
	margin-left: 397px;
}

#slide3 .content a, #slide3 .content a:visited,
#slide3 .content a:link {
	text-decoration: none;
	color: #4b4b4b;
}

#slide3 .content a:active {
	color: #6e6e6e;
}

#slide3 .content a:hover {
	color: #343434
}

#slide3 .leftContent {
	width: auto;
}

/******************************
 SLIDE 4
*******************************/
#slide4{
	background-color:#FFFFFF;
}
#slide4 .slideno {
	font-size: 75px;
}
#slide4 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide4 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide4 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide4 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide4 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide4 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}

#ytLink {
	display: none;
}

/******************************
 SLIDE 5
*******************************/
#slide5{
	background-color:#FFFFFF;
}
#slide5 .slideno {
	font-size: 47px;
}
#slide5 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide5 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide5 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide5 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide5 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
#slide5 .content {
	margin-top: 40px;
}

#slide5 .leftContent {
	width: 375px;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-top: 0;
}

#slide5 .rightImg {
	width: 261px;
	display: inline-block;
	position: absolute;
	margin-left: 397px;
}

#slide5 .content a, #slide5 .content a:visited,
#slide5 .content a:link {
	text-decoration: none;
	color: #4b4b4b;
}

#slide5 .content a:active {
	color: #6e6e6e;
}

#slide5 .content a:hover {
	color: #343434
}

#slide5 .leftContent {
	width: auto;
}

/******************************
 SLIDE 6
*******************************/
#slide6{
	background-color:#FFFFFF;
}
#slide6 .slideno {
}
#slide6 ul { 
	width: 800px; 
	list-style: none; 
	line-height: normal; 
	margin-top: 15px; 
}
#slide6 li { margin: 3px;}
#slide6 li {
	width: 160px; 
	height: 20px;
	border: 1px #909090 solid; 
	padding: 10px; 
	float: left;
	text-decoration: none;
	display: inline-block;
	color: #909090;
	margin: 4px;
	-webkit-transition:color 500ms linear;  
	-moz-transition:color 500ms linear;  
	-o-transition:color 500ms linear;  
	transition:color 500ms linear; 
	-webkit-transition:background-color 200ms linear;  
	-moz-transition:background-color 200ms linear;  
	-o-transition:background-color 200ms linear;  
	transition:background-color 200ms linear; 
	-webkit-transition:width 500ms linear;  
	-moz-transition:width 500ms linear;  
	-o-transition:width 500ms linear;  
	transition:width 500ms linear; 
	position: relative;
	z-index: 1;
}
#slide6 li a.resize, #slide6 li.hover {
	color: #FFFFFF;
	background-color: #909090;
}
#slide6 li a {
	text-decoration: none;
	color: #000;
}

/******************************
 SLIDE 6
*******************************/
#slide6{
	background-color:#FFFFFF;
}
#slide6 .slideno {
}
#slide6 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide6 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide6 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide6 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide6 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide6 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;

/******************************
 SLIDE 7 
*******************************/

#slide7{
	background-image:url(../images/Slide4/desktop4.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide7 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}

