@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'NerisSemiBold';
    src: url('font/PermianSlabSerifTypeface.otf'),
		 url('font/PermianSlabSerifTypeface.eot');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'NerisSemiBold';
	width:100%;
	height:100%;
	color: #909090;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s linear-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
.envatologo{
position:fixed;
top:50%;
left:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	font-size:90px;
	font-weight:bold;
	color:#4b4b4b;
	display: block;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right: 0;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}

.buttonEnd {
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	right: 0;
	background-color:#333333;
	background-image:url(../images/doubleArrowUp.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#FFFFFF;
	font-size: 28px;
}
#slide1 .slideno {
	font-size: 82px;
}
.slide table {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#slide1 .content {
	margin-top: 40px;
}

#slide1 .leftContent {
	width: 475px;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-top: 0;
}

#slide1 .rightImg {
	width: 261px;
	display: inline-block;
	position: absolute;
	margin-left: 530px;
}

#slide1 #code {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: green;
	display: inline-block;
	width: 250px;
	height: 500px;
	border: 0px solid black;
	overflow: hidden;
	float: left;
	margin-left: 20px;
}

#slide1 #coffee {
	float: left;
	margin-left: 110px;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#FFFFFF;	
}
#slide2 .slideno {
}

#slide2 .content {
	margin-top: 40px;
}

#slide2 img:first-child{
	position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:300px;
	left:100px;
}
#slide2 img:nth-child(3){
	position:absolute;
	top:600px;
	left:300px;
}
#slide2 img:nth-child(4){
	position:absolute;
	top:400px;
	left:300px;
}
#slide2 img:nth-child(5){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(6){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(7){
	position:absolute;
	top:400px;
	right:100px;
}
#slide2 img:nth-child(8){
	position:absolute;
	top:100px;
	right:300px;
}
#slide2 ul { 
	width: 800px; 
	list-style: none; 
	line-height: normal; 
	margin-top: 15px; 
}
#slide2 li { margin: 3px;}
#slide2 li a, #slide2 li {
	width: 160px; 
	height: 20px;
	border: 1px #909090 solid; 
	padding: 10px; 
	float: left;
	text-decoration: none;
	display: inline-block;
	color: #909090;
	margin: 4px;
	-webkit-transition:color 500ms linear;  
	-moz-transition:color 500ms linear;  
	-o-transition:color 500ms linear;  
	transition:color 500ms linear; 
	-webkit-transition:background-color 200ms linear;  
	-moz-transition:background-color 200ms linear;  
	-o-transition:background-color 200ms linear;  
	transition:background-color 200ms linear; 
	-webkit-transition:width 500ms linear;  
	-moz-transition:width 500ms linear;  
	-o-transition:width 500ms linear;  
	transition:width 500ms linear; 
	position: relative;
	z-index: 1;
}
#slide2 li a:hover, #slide2 li a.resize, #slide2 li.hover {
	color: #FFFFFF;
	background-color: #909090;
}

#slide2 li a.resize {
	width: 700px;
	z-index: 2;
}

#slide2 #skills li a span {
	display: none;
	color: #FFFFFF;
}

#slide2 #skills li a span.showDetails {
	display: inline;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#FFFFFF;
}
#slide3 .slideno {
	font-size: 55px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
#slide3 .content {
	margin-top: 40px;
}

#slide3 .leftContent {
	width: 375px;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	margin-top: 0;
}

#slide3 .rightImg {
	width: 261px;
	display: inline-block;
	position: absolute;
	margin-left: 397px;
}

#slide3 .content a, #slide3 .content a:visited,
#slide3 .content a:link {
	text-decoration: none;
	color: #4b4b4b;
}

#slide3 .content a:active {
	color: #6e6e6e;
}

#slide3 .content a:hover {
	color: #343434
}

/******************************
 SLIDE 4
*******************************/
#slide4{
	background-color:#FFFFFF;
}
#slide4 .slideno {
	font-size: 75px;
}
#slide4 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide4 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide4 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide4 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide4 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide4 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}

/******************************
 SLIDE 5
*******************************/
#slide5{
	background-color:#FFFFFF;
}
#slide5 .slideno {
}
#slide5 ul { 
	width: 800px; 
	list-style: none; 
	line-height: normal; 
	margin-top: 15px; 
}
#slide5 li { margin: 3px;}
#slide5 li {
	width: 160px; 
	height: 20px;
	border: 1px #909090 solid; 
	padding: 10px; 
	float: left;
	text-decoration: none;
	display: inline-block;
	color: #909090;
	margin: 4px;
	-webkit-transition:color 500ms linear;  
	-moz-transition:color 500ms linear;  
	-o-transition:color 500ms linear;  
	transition:color 500ms linear; 
	-webkit-transition:background-color 200ms linear;  
	-moz-transition:background-color 200ms linear;  
	-o-transition:background-color 200ms linear;  
	transition:background-color 200ms linear; 
	-webkit-transition:width 500ms linear;  
	-moz-transition:width 500ms linear;  
	-o-transition:width 500ms linear;  
	transition:width 500ms linear; 
	position: relative;
	z-index: 1;
}
#slide5 li a.resize, #slide5 li.hover {
	color: #FFFFFF;
	background-color: #909090;
}
#slide5 li a {
	text-decoration: none;
	color: #000;
}

/******************************
 SLIDE 6
*******************************/
#slide6{
	background-color:#FFFFFF;
}
#slide6 .slideno {
}
#slide6 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide6 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide6 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide6 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide6 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide6 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;

/******************************
 SLIDE 7 
*******************************/

#slide7{
	background-image:url(../images/Slide4/desktop4.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide7 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}

